<div class="btn-group">
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, :class => "btn btn-primary" %>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path , :class => "btn btn-danger" %>
</div>
<hr>
<div class="btn-group">
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Lost password?", new_password_path(resource_name), :class => "btn btn-info" %>
  <% end %>
  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Re-send email confirmation", new_confirmation_path(resource_name), :class => "btn btn-warning" %>
  <% end %>
</div>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>


